---
import Layout from "@layout/layout.astro";
import { Image } from "astro:assets";
import { ButtonLogin } from "@React/";
---

<Layout Title="Time Register">
  <main>
    <h1>Time Register</h1>
    <Image
      src="/img/home.png"
      alt="Hombre mira una patalla viendo registro bien hechos"
      width="400"
      height="400"
      loading="eager"
    />
    <section class="container-btn">
      <ButtonLogin client:visible />
    </section>
  </main>

  <style>
    main {
      display: grid;
      grid:
        "title" 100px
        "img" auto
        "btn" 200px
        /1fr;
      justify-items: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .container-btn {
        grid-area: btn;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  </style>
</Layout>
